<!DOCTYPE html>
<html>
    <head>
        <title>{{ book['title'] }}</title>
        <meta charset="utf8">
    </head>
    <body>
        <h1>Detalle del libro</h1>
        <dl>
            <dt>Título</dt>
            <dd>{{ book['title'] }}</dd>
            <dt>Autor</dt>
            <dd>{{ book['author']['name'] }}</dd>
        </dl>
        <p>
            <a href="/books/list">Volver a la lista</a>
        </p>
    </body>
</html>