{% extends 'layout.html.twig' %}

{% block title %}Ha ocurrido un error{% endblock %}

{% block content %}
<h1>Algo salio mal..</h1>
<p>
    Estamos trabajando para solucionar el problema, mientras visita el sitio
    Web de nuestros amigos de la Comunidad PHP Puebla
    <a href="http://www.comunidadphppuebla.com" title="Comunidad PHP Puebla">
        Comunidad PHP Puebla
    </a>
</p>
{% endblock %}
