{% extends 'layout.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<h1>Detalle del libro</h1>
<dl>
    <dt>Título</dt>
    <dd>{{ book.title }}</dd>
    <dt>Autor</dt>
    <dd>{{ book.author }}</dd>
</dl>
<p>
    <a href="list-books.php">Volver a la lista</a>
</p>
{% endblock %}
