{% extends 'layout.html.twig' %}

{% block title %}Catálogo de libros{% endblock %}

{% block content %}
<h1>Catálogo de libros</h1>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Título</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>
            <a href="show-book-detail.php?id={{ book.book_id }}">
                Detalles
            </a>
        </td>
        <td>{{ book.title }}</td>
    <tr>
    {% endfor %}
</table>
{% endblock %}
