<!DOCTYPE html>
<html>
    <head>
        <title>Ha ocurrido un error</title>
        <meta charset="utf8">
    </head>
    <body>
        <h1>Algo salio mal..</h1>
        <p>
            Estamos trabajando para solucionar el problema, mientras visita el sitio
            Web de nuestros amigos de la Comunidad PHP Puebla
            <a href="http://www.comunidadphppuebla.com" title="Comunidad PHP Puebla">
                Comunidad PHP Puebla
            </a>
    </body>
</html>