<!DOCTYPE html>
<html>
    <head>
        <title>Página no encontrada</title>
        <meta charset="utf8">
    </head>
    <body>
        <h1>La página que buscas no existe</h1>
        <p>
            Tal vez estás buscando nuestro
            <a href="/books/list" title="Catálogo de Libros">Catálogo de Libros</a>
    </body>
</html>