{% extends 'layout.html.twig' %}

{% block title %}Catálogo de libros{% endblock %}

{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>Título</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>
            <a href="/books/{{ book.book_id }}">
                Detalles
            </a>
        </td>
        <td>{{ book.title }}</td>
    <tr>
    {% endfor %}
</table>
{% endblock %}
